
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* colori */
:root {
    --color-dark: #141922;
    --color-darkgrey: #282828;
    --color-light: #ffffff;
    --color-black: #000000;
    --color-lightgrey: #c1c1c1;
    --color-highlight: #9ae22d;
    --color-redcolor:#ca1717;
}

.debug{
    border: 1px solid red;
}

body{
    background-color: var(--color-darkgrey);
    color: var(--color-light);
}

.wrapper{
    background-color: var(--color-darkgrey);
    height: 100vh;
}

.upper-conten{
    background-color: var(--color-dark);
    flex: 1 1 auto;
    overflow-y: auto;
}

/* main */

main{
    flex: 1 1 auto;
    overflow-y: auto;    
    overflow-x: hidden;
}

.sticky{
    height: 70px;
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;  
    z-index: 2000;  
    background-color: var(--color-dark);
    opacity: 0.8;
    display: flex;       
    justify-content: flex-end; 
    align-items: center; 
    padding: 0 3px;
}

.button-sticky{
    background-color: var(--color-dark);
    opacity: 0.8;
    border: 1px solid var(--color-light);
    color: var(--color-light);
    padding: 10px 35px;
    border-radius: 20px; 
    cursor: pointer;   
}

.nav-bar ul{
    display: flex;
    list-style: none;
}

.nav-bar ul li{
    padding: 10px 15px;
    position: relative;
    cursor: pointer;
    color: var(--color-lightgrey);
}


/* sidebar */

#sidebar{
    flex: 0 0 230px;
    background-color: var(--color-black);
}

/* utility flex */

.d-flex{
    display: flex;
}

.f-column{
    flex-direction: column;
}

.a-center{
    align-items: center;
}

.j-content{
    justify-content: center;
}

/* playbar */

footer{
    background-color: var(--color-darkgrey);
    flex: 0 0 100px;
}
